<nav
  class="
    border-b-4
    border-solid
    border-slate-900
    flex
    items-center
    justify-between
    gap-6
    py-6
    px-6
  "
>

  <div>
    <%= link_to  "/", class: "font-semibold text-xl" do %>
      <svg
        viewBox="0 0 450 92"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="h-6"
      >
        <path
          d="M80.5705 82V18.5869H109.135C114.584 18.5869 119.169 19.4219 122.89 21.0918C126.64 22.7617 129.482 25.208 131.415 28.4307C133.349 31.6533 134.316 35.6084 134.316 40.2959V40.3838C134.316 44.3389 133.378 47.957 131.503 51.2383C129.657 54.5195 127.196 56.9072 124.12 58.4014L136.161 82H115.331L105.312 61.1699C105.195 61.1699 105.063 61.1699 104.916 61.1699C104.77 61.1699 104.623 61.1699 104.477 61.1699H99.2033V82H80.5705ZM99.2033 48.0303H106.982C109.501 48.0303 111.523 47.3125 113.046 45.877C114.57 44.4414 115.331 42.5664 115.331 40.252V40.1641C115.331 37.8496 114.555 35.9746 113.002 34.5391C111.449 33.0742 109.443 32.3418 106.982 32.3418H99.2033V48.0303ZM152.027 82.6152C148.775 82.6152 145.904 81.9707 143.414 80.6816C140.953 79.3926 139.02 77.6494 137.613 75.4521C136.236 73.2256 135.548 70.7207 135.548 67.9375V67.8936C135.548 64.7588 136.324 62.1074 137.877 59.9395C139.459 57.7715 141.744 56.0723 144.732 54.8418C147.721 53.582 151.368 52.8057 155.675 52.5127L175.494 51.1943V61.2139L158.663 62.4004C156.759 62.5176 155.353 62.9424 154.444 63.6748C153.565 64.4072 153.126 65.374 153.126 66.5752V66.6191C153.126 67.8789 153.624 68.8457 154.62 69.5195C155.616 70.1934 156.949 70.5303 158.619 70.5303C160.055 70.5303 161.314 70.2959 162.398 69.8271C163.482 69.3291 164.332 68.6553 164.947 67.8057C165.562 66.9561 165.87 66.0039 165.87 64.9492V49.876C165.87 48.4697 165.416 47.3564 164.508 46.5361C163.6 45.7158 162.223 45.3057 160.377 45.3057C158.531 45.3057 157.096 45.6572 156.07 46.3604C155.045 47.0635 154.43 47.9131 154.225 48.9092L154.137 49.3486H138.053L138.097 48.7773C138.36 45.4668 139.43 42.5957 141.305 40.1641C143.209 37.7031 145.846 35.7988 149.215 34.4512C152.613 33.1035 156.671 32.4297 161.388 32.4297C165.899 32.4297 169.84 33.1328 173.209 34.5391C176.578 35.916 179.2 37.8496 181.075 40.3398C182.95 42.8301 183.888 45.7158 183.888 48.9971V82H165.87V75.4082H165.519C164.61 76.9316 163.497 78.2354 162.179 79.3193C160.89 80.4033 159.396 81.2236 157.696 81.7803C155.997 82.3369 154.107 82.6152 152.027 82.6152ZM188.899 82V33.4844H206.917V82H188.899ZM197.908 29.1338C195.388 29.1338 193.264 28.2842 191.536 26.585C189.837 24.8857 188.987 22.8789 188.987 20.5645C188.987 18.2207 189.837 16.2139 191.536 14.5439C193.264 12.8447 195.388 11.9951 197.908 11.9951C200.428 11.9951 202.537 12.8447 204.236 14.5439C205.965 16.2139 206.829 18.2207 206.829 20.5645C206.829 22.8789 205.965 24.8857 204.236 26.585C202.537 28.2842 200.428 29.1338 197.908 29.1338ZM212.104 82V18.5869H230.122V82H212.104ZM244.625 82L232.321 33.4844H250.558L255.7 66.2236H256.051L262.423 33.4844H279.606L286.066 66.2236H286.417L291.559 33.4844H309.357L297.14 82H277.584L270.817 50.7549H270.465L263.829 82H244.625ZM311.38 82V33.4844H329.398V82H311.38ZM320.389 29.1338C317.869 29.1338 315.745 28.2842 314.017 26.585C312.318 24.8857 311.468 22.8789 311.468 20.5645C311.468 18.2207 312.318 16.2139 314.017 14.5439C315.745 12.8447 317.869 11.9951 320.389 11.9951C322.908 11.9951 325.018 12.8447 326.717 14.5439C328.446 16.2139 329.31 18.2207 329.31 20.5645C329.31 22.8789 328.446 24.8857 326.717 26.585C325.018 28.2842 322.908 29.1338 320.389 29.1338ZM334.365 82V33.4844H352.383V42.4932H352.734C353.936 39.2119 355.767 36.7217 358.228 35.0225C360.688 33.2939 363.75 32.4297 367.412 32.4297C372.744 32.4297 376.846 34.041 379.717 37.2637C382.617 40.4863 384.067 45.0127 384.067 50.8428V82H366.05V54.7979C366.05 52.3662 365.479 50.4473 364.336 49.041C363.193 47.6348 361.494 46.9316 359.238 46.9316C357.832 46.9316 356.616 47.2686 355.591 47.9424C354.565 48.6162 353.774 49.5391 353.218 50.7109C352.661 51.8828 352.383 53.2305 352.383 54.7539V82H334.365ZM406.525 83.0547C402.512 83.0547 399.084 82.0732 396.242 80.1104C393.43 78.1182 391.276 75.2471 389.782 71.4971C388.317 67.7178 387.585 63.1328 387.585 57.7422V57.6982C387.585 52.2783 388.317 47.6934 389.782 43.9434C391.276 40.1641 393.43 37.3076 396.242 35.374C399.084 33.4111 402.541 32.4297 406.613 32.4297C408.928 32.4297 411.022 32.8252 412.897 33.6162C414.802 34.3779 416.442 35.4912 417.819 36.9561C419.196 38.4209 420.265 40.1787 421.027 42.2295H421.379V18.5869H439.396V82H421.379V73.6943H421.027C420.295 75.6572 419.24 77.3418 417.863 78.748C416.486 80.125 414.831 81.1943 412.897 81.9561C410.993 82.6885 408.869 83.0547 406.525 83.0547ZM413.6 68.5527C415.182 68.5527 416.559 68.1279 417.731 67.2783C418.903 66.4287 419.797 65.1982 420.412 63.5869C421.056 61.9756 421.379 60.042 421.379 57.7861V57.7422C421.379 55.457 421.056 53.5088 420.412 51.8975C419.767 50.2861 418.859 49.0557 417.687 48.2061C416.545 47.3564 415.182 46.9316 413.6 46.9316C412.048 46.9316 410.685 47.3564 409.513 48.2061C408.371 49.0557 407.477 50.2861 406.833 51.8975C406.188 53.5088 405.866 55.4424 405.866 57.6982V57.7422C405.866 59.9688 406.174 61.8877 406.789 63.499C407.433 65.1104 408.342 66.3555 409.513 67.2344C410.685 68.1133 412.048 68.5527 413.6 68.5527Z"
          fill="black"
        />
        <circle cx="31.5" cy="50.5" r="31.5" fill="#FB0632" fill-opacity="0.9"/>
      </svg>

    <% end %>

  </div>
  <div class="flex items-center gap-6">
    <%= link_to "Docs", components_button_path, class: "font-semibold" %>

    <%= link_to "Primitives", components_button_path, class: "font-semibold" %>

    <%= link_to "Templates", components_button_path, class: "font-semibold" %>

    <%= link_to "Github",
    "https://github.com/christianlovescode/railwind",
    class: "font-semibold",
    target: "_blank" %>

    <div>

      <%= link_to  "https://twitter.com/cblovescode", target: "_blank" do %>
        <svg
          class="h-6 w-6 fill-current"
          height="23"
          viewBox="0 0 1200 1227"
          width="23"
          xmlns="http://www.w3.org/2000/svg"
        ><path
            d="M714.163 519.284L1160.89 0H1055.03L667.137 450.887L357.328 0H0L468.492 681.821L0 1226.37H105.866L515.491 750.218L842.672 1226.37H1200L714.137 519.284H714.163ZM569.165 687.828L521.697 619.934L144.011 79.6944H306.615L611.412 515.685L658.88 583.579L1055.08 1150.3H892.476L569.165 687.854V687.828Z"
          ></path></svg>
      <% end %>

    </div>
  </div>

</nav>
